{% block form_row %}
    {% spaceless %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            {{ form_label(form, label|default(null), { 'label_attr': { 'class': 'control-label' }}) }}
            <div class="controls ui-front">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <div class="select">
            <input {{ block('widget_attributes') }} type="hidden">
            <i class="fa fa-angle-down"></i>
            <span class="selected-value"></span>
            <div class="menu">
                {% if empty_value is not none %}
                    <div class="option{% if required and value is empty %} active{% endif %}" data-value="">{{ empty_value|trans({}, translation_domain) }}</div>
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <div class="label">{{ group_label|trans({}, translation_domain) }}</div>
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
            {% else %}
                <div class="option{% if choice is selectedchoice(value) %} active{% endif %}" data-value="{{ choice.value }}">{{ choice.label|trans({}, translation_domain) }}</div>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}