{% extends '::base.html.twig' %}

{% block submenu %}
    <nav class="submenu">
        <ul>
            <li {{ page.active('nk_document_show') }}>
                <a href="{{ path('nk_document_show', {id:document.id, slug:document.slug, class:document.class, field:document.field}) }}">
                    <i class="icon i-notes"></i>
                    Voir
                </a>
            </li>
            {% if document.author == app.user %}
                <li {{ page.active('nk_document_edit') }}>
                    <a href="{{ path('nk_document_edit', {id:document.id}) }}">
                        <i class="icon i-pencil"></i>
                        Editer
                    </a>
                </li>
                <li {{ page.active('nk_document_upload') }}>
                    <a href="{{ path('nk_document_upload', {id:document.id}) }}">
                        <i class="icon i-sort"></i>
                        Gérer les fichiers
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
