{% if document.author == app.user %}
    {% set layout = 'nkDocumentBundle:Document:layout.html.twig' %}
{% else %}
    {% set layout = '::base.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}{{ document.subject }} - {{ parent() }}{% endblock %}

{% block tools %}
    <li>
        <a href="{{ path('nk_document_download_all', {id:document.id}) }}">
            <i class="icon i-download-alt"></i>
            Télécharger
        </a>
    </li>
    <li>
        <a data-add-to-folder="{{ path('nk_document_folders_for_document', {id:document.id}) }}">
            <i class="fa fa-plus"></i>
            Ajouter
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ document.subject }}</h1>
    <div class="row-gaped">
        <div class="col5">
            <table class="table">
                <tr>
                    <th colspan="2">Informations</th>
                </tr>
                <tr>
                    <td style="width: 100px">Titre</td>
                    <td class="nowrap">
                        {{ document }}
                    </td>
                </tr>
                <tr>
                    <td>Promo</td>
                    <td class="nowrap">
                        <a href="{{ path('nk_document_all', {class:document.class}) }}">{{ document.class }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Matière</td>
                    <td class="nowrap">
                        <a href="{{ path('nk_document_all', {class:document.class, field:document.field}) }}">{{ document.field }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Unité</td>
                    <td class="nowrap">
                        <a href="{{ path('nk_document_search', {s:document.unit}) }}">{{ document.unit }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Professeur</td>
                    <td class="nowrap">
                        <a href="{{ path('nk_document_search', {s:document.teacher}) }}">{{ document.teacher }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Année</td>
                    <td class="nowrap">{{ document.year }}</td>
                </tr>
                <tr>
                    <td>Auteur</td>
                    <td class="nowrap">
                        <a href="{{ path('nk_user_show', {id:document.author.id}) }}">{{ document.author }}</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col7">
            {% if document.files|length %}
                <table class="table">
                    <tr>
                        <th>Fichier</th>
                        <th>Poid</th>
                        <th>
                            {% if document.files|length > 1 %}
                                <a class="btn-icon" href="{{ path('nk_document_download_all', {id:document.id}) }}">
                                    <i class="icon i-cargo"></i>
                                    Télécharger archive
                                </a>
                            {% endif %}
                        </th>
                    </tr>
                    {% for file in document.files %}
                        <tr>
                            <td>
                                <i class="icon i-file icon-dark"></i>
                                <a href="{{ asset(file.webPath) }}">
                                    {{ file }}
                                </a>
                            </td>
                            <td>{{ file.size }}</td>
                            <td>
                                <a class="btn-icon" href="{{ path('nk_document_file_download', {id:file.id}) }}">
                                    <i class="icon i-download-alt"></i>
                                    Télécharger
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="txt-large" style="text-align: center; margin-top: 60px">
                    <i class="icon i-fishes icon-dark fa-4x"></i>
                    <br>
                    L'auteur n'a pas encore ajouté de fichiers.
                </p>
            {% endif %}
        </div>
    </div>

    <h1>Ce document fait partie des compils suivantes</h1>
    {% if folders|length %}
        {% include 'nkFolderBundle:Folder:list.html.twig' %}
    {% else %}
        <p>Ce document ne fait partie d'aucune compil.</p>
    {% endif %}

    {% if suggestions|length %}
        <h1 style="margin-top: 40px">Documents en rapport</h1>
        {% set documents = suggestions %}
        {% include 'nkDocumentBundle:Document:list.html.twig' %}
    {% endif %}
{% endblock %}