{% extends '::base.html.twig' %}
{% block title %}{{ document.subject }} - {{ parent() }}{% endblock %}

{% block tools %}
    <li>
        <a href="{{ path('nk_document_edit', {id:document.id}) }}">
            <i class="glyphicon glyphicon-pencil"></i>
            Editer
        </a>
    </li>
    <li>
        <a href="{{ path('nk_document_upload', {id:document.id}) }}">
            <i class="fa fa-copy"></i>
            Fichiers
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ document.subject }}</h1>
{% endblock %}