{% extends '::base.html.twig' %}
{% block title %}{{ document.subject }} - {{ parent() }}{% endblock %}

{% block tools %}
    <li>
        <a href="{{ path('nk_document_edit', {id:document.id}) }}">
            <i class="icon i-pencil"></i>
            Editer
        </a>
    </li>
    <li>
        <a href="{{ path('nk_document_upload', {id:document.id}) }}">
            <i class="icon i-sort"></i>
            Fichiers
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ document.subject }}</h1>
    <table class="table">
        <tr>
            <th>Fichier</th>
            <th>Poid</th>
            <th>
                <button class="btn-icon">
                    <i class="icon i-cargo"></i>
                    Télécharger archive
                </button>
            </th>
        </tr>
        {% for file in document.files %}
            <tr>
                <td>{{ file }}</td>
                <td>{{ file.size }}</td>
                <td>
                    <button class="btn-icon">
                        <i class="icon i-download-alt"></i>
                        Télécharger
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}