{% for folder in folders %}
    {% set isAuthor = folder.author.id is defined and folder.author == app.user or folder.author == app.user.id %}
    <a class="folder" href="{{ path('nk_folder_show', {id:folder.id}) }}" {% spaceless %}
        {% if isAuthor %}
            data-remove-folder="{{ path('nk_folder_remove', {id:folder.id}) }}"
        {% else %}
            data-remove-folder="{{ path('nk_folder_remove_from_collection', {id:folder.id}) }}"
        {% endif %}
    {% endspaceless %}>
        <i class="icon i-folder-open"></i>
        <div class="count">
            {% if folder.total is defined %}
                {{ folder.total }}
            {% else %}
                {{ folder.documents|length }}
            {% endif %}
        </div>
        {% if isAuthor %}
            <div class="name" data-rename="{{ path('nk_folder_rename', {id:folder.id}) }}">{{ folder.name }}</div>
        {% else %}
            <div class="name">{{ folder.name }}</div>
        {% endif %}
    </a>
{% endfor %}