{% extends '::base.html.twig' %}

{% block title %}{{ folder }} - {{ parent() }}{% endblock %}

{% block tools %}
    <li>
        <a data-action="{{ path('nk_folder_add_to_collection', {id:folder.id}) }}">
            <i class="fa fa-plus"></i>
            Ajouter
        </a>
    </li>
    <li>
        <a data-action="{{ path('nk_folder_copy', {id:folder.id}) }}">
            <i class="icon i-more-items"></i>
            Copier
        </a>
    </li>
    <li>
        <a href="{{ path('nk_folder_download', {id:folder.id}) }}">
            <i class="icon i-download-alt"></i>
            Télécharger
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ folder }}</h1>
    <div class="gray-bg">
        <div class="row-gaped">
            <div class="col4">
                <ul class="ul-icon">
                    <li>
                        <i class="icon i-user"></i>
                        <a href="{{ path('nk_user_show', {id:folder.author.id}) }}">{{ folder.author }}</a>
                    </li>
                    <li>
                        <i class="icon i-group"></i>
                        {% for user in folder.users %}
                            <a href="{{ path('nk_user_show', {id:user.id}) }}">{{ user }}</a>{% if not loop.last %},{% endif %}
                        {% else %}
                            Aucun utilisateur n'a ajouté cette compil à sa collection
                        {% endfor %}
                    </li>
                    <li>
                        <i class="icon i-file"></i>
                        {{ folder.documents|length }} {{ "document|documents"|transchoice(folder.documents|length) }}
                    </li>
                    <li>
                        <i class="icon i-tags"></i>
                        {{ folder.type }}
                        <a href="{{ path('nk_document_all', {class:folder.class}) }}">{{ folder.class }}</a>
                        <a href="{{ path('nk_document_search', {s:folder.field}) }}">{{ folder.field }}</a>
                        <a href="{{ path('nk_document_search', {s:folder.unit}) }}">{{ folder.unit }}</a>
                        {{ folder.year }}
                        <a href="{{ path('nk_document_search', {s:folder.teacher}) }}">{{ folder.teacher }}</a>
                    </li>
                </ul>
            </div>
            <div class="col8">
                <p>
                    <b>Ajoutez</b> cette compil à votre collection pour y accéder rapidement. Toutes les modification apportées par l'auteur serrons automatiquement répercutées.<br>
                    <b>Copiez</b> cette compil dans votre collection pour pouvoir la modifier.
                </p>
            </div>
        </div>



    </div>
    {% set documents = folder.documents %}
    {% include 'nkDocumentBundle:Document:list.html.twig' %}

    {% if suggestions|length %}
        <h1 style="margin-top: 60px">Suggestions de documents</h1>
        {% set documents = suggestions %}
        {% include 'nkDocumentBundle:Document:list.html.twig' %}
    {% endif %}
{% endblock %}