{% macro active(route) %}
    {% spaceless %}
        {% if route in app.request.get('_route') %}
            class="active"
        {% endif %}
    {% endspaceless %}
{% endmacro %}
{% import _self as page %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Annales ESIEE{% endblock %}</title>
        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            {% stylesheets
                'less/layout.less'
                'less/typo.less'
                'less/form.less'
                'less/upload.less'
                'less/glyphicons.less'
                'less/pagination.less'
                'less/folder.less'
                'less/table.less'
                'less/preview.less'
                'less/grid.less'
                'css/custom-theme/jquery-ui-1.10.3.custom.min.css'
                filter='cssrewrite'
                output='css/main.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <aside id="left-menu">
            <form method="get" class="search-form ui-front" autocomplete="off" action="{{ path('nk_document_search') }}">
                <input type="search" name="s" placeholder="Rechercher" autocomplete="off" data-autocomplete-multiple="{{ metadata() }}"{% if searchQuery is defined %} value="{{ searchQuery }}"{% endif %}>
            </form>
                <ul class="menu">
                    {% if app.user %}
                    <li {{ page.active('fos_user') }}>
                        <a href="{{ path('fos_user_profile_show') }}">
                            <i class="icon i-cogwheels"></i>
                            Mon compte
                        </a>
                    </li>
                    {% endif %}
                    <li {{ page.active('nk_document_new') }}>
                        <a href="{{ path('nk_document_new') }}">
                            <i class="icon i-cloud-upload green"></i>
                            Uploader
                        </a>
                    </li>
                    {% if app.user %}
                    <li>
                        <a>
                            <i class="icon i-wallet blue"></i>
                            Mes documents
                        </a>
                    </li>
                    {% endif %}
                    <li {{ page.active('nk_document_all') }}>
                        <a href="{{ path('nk_document_all') }}">
                            <i class="icon i-folder-open yellow"></i>
                            Parcourir
                        </a>
                    </li>
                    {% if app.user %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="icon i-power red"></i>
                            Déconnexion
                        </a>
                    </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="icon i-ok green"></i>
                                Connexion
                            </a>
                        </li>
                    {% endif %}
                </ul>
        </aside>
        <nav id="nav-bar">
            <ul class="tools">
                {% block tools %}{% endblock %}
            </ul>
        </nav>
        <article id="main-content">
            {% block submenu %}{% endblock %}
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </article>
        <div id="preview-panel">
            <div class="loading">Chargement...</div>
            <div class="close-panel">
                <i class="icon i-remove-2"></i>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
            <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            {% javascripts
                'js/caret.js'
                'js/autocomplete.js'
                'js/select.js'
                'js/adaptive-table.js'
                'js/preview.js'
                output='/js/script.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
