{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

    <h1>Connexion</h1>

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="control-group">
            <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
            <div class="controls">
                <input type="password" id="password" name="_password" required="required" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <div class="controls">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </div>
        </div>

        <div class="control-group actions">
            <button class="btn" type="submit">
                {{ 'security.login.submit'|trans }}
            </button>
        </div>
    </form>
{% endblock fos_user_content %}
