{% extends '::base.html.twig' %}
{% block title %}{{ searchQuery }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ searchQuery.result.totalItemCount }} {{ 'résultat|résultats'|transchoice(searchQuery.result.totalItemCount ) }} pour "{{ searchQuery }}"</h1>
    {% if searchQuery.hasSuggestion %}
        Essayez avec cette orthographe : <a href="{{ path('nk_document_search', {s:searchQuery.suggestion}) }}">{{ searchQuery.getSuggestion(true)|raw }}</a>
    {% endif %}
    {% set documents = searchQuery.result %}
    {% include 'nkDocumentBundle:Document:list.html.twig' %}
    {{ knp_pagination_render(searchQuery.result) }}
{% endblock %}