{% extends '::base.html.twig' %}
{% block title %}{{ searchQuery }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ searchQuery.result|length }} résultats pour "{{ searchQuery }}"</h1>
    {% if searchQuery.hasSuggestion %}
        Essayez avec cette orthographe : <a href="{{ path('nk_document_search', {s:searchQuery.suggestion}) }}">{{ searchQuery.getSuggestion(true)|raw }}</a>
    {% endif %}
{% endblock %}