{% extends '::base.html.twig' %}
{% block title %}Prochains contr么les - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Prochains contr么les</h1>
    {% if exams|length %}
        <p class="gray-bg">
            Liste des prochains contr么les pour les <b>{{ app.user.resource }}</b> des 4 prochaines semaines.
        </p>
    {% else %}
        <p class="gray-bg">
            Aucun contr么le pour les <b>{{ app.user.resource }}</b> pour les 4 prochaines semaines.
        </p>
    {% endif %}

    {% for exam in exams %}
        <div class="event">
            <h2>
                {{ exam.unit }}
                <button class="btn-icon" data-ignore-exam="{{ path('nk_exam_ignore_exam', {unit:exam.unit}) }}">
                    <i class="fa fa-trash-o"></i>
                </button>
                <button class="btn-icon full-size-event">
                    <i class="icon i-resize-full"></i>
                </button>
            </h2>

            <p class="info">
                <i class="icon i-calendar"></i>
                {{ exam.startAt|countdown }}
                <br>
                <i class="icon i-stopwatch"></i>
                {{ exam.length }}
                <br>
                <i class="icon i-group"></i>
                {{ exam.groups }}
                <br>
                <i class="icon i-google-maps"></i>
                {{ exam.location }}
                <br>
                <i class="icon i-file"></i>
                {{ exam.documents|length }} {{ 'Document|Documents'|transchoice(exam.documents|length) }}
                <br>
                <i class="icon i-folder-open"></i>
                1 compilation
            </p>
            {#{% set documents = exam.documents|slice(0,3) %}#}
            {#{% include 'nkDocumentBundle:Document:list.html.twig' %}#}
        </div>
    {% endfor %}
{% endblock %}