{% extends '::base.html.twig' %}
{% block title %}Prochains examens - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Prochains examens</h1>
    {% if exams|length %}
        <p class="gray-bg">
            Liste des prochains examens pour les <b>{{ app.user.resource }}</b> des 4 prochaines semaines.
        </p>
    {% else %}
        <p class="gray-bg">
            Aucun examen pour les <b>{{ app.user.resource }}</b> pour les 4 prochaines semaines.
        </p>
    {% endif %}

    <table class="table" data-adaptive-table>
        <tr>
            <th class="nowrap">
                <i class="icon i-book"></i>
                Unitée
            </th>
            <th class="nowrap">
                <i class="icon i-calendar"></i>
                Date
            </th>
            <th data-priority="3" class="nowrap">
                <i class="icon i-stopwatch"></i>
                Durée
            </th>
            <th data-priority="1" class="nowrap">
                <i class="icon i-group"></i>
                Groupes
            </th>
            <th data-priority="2" class="nowrap">
                <i class="icon i-google-maps"></i>
                Salle
            </th>
            <th></th>
        </tr>
        {% for exam in exams %}
            <tr>
                <td class="nowrap">
                    <a href="{{ path('nk_exam_show', {id:exam.id}) }}">
                        {{ exam.unit }}
                    </a>
                </td>
                <td>
                    {{ exam.startAt|countdown }}
                </td>
                <td>
                    {{ exam.length }}
                </td>
                <td>
                    {{ exam.groups }}
                </td>
                <td>
                    {{ exam.location }}
                </td>
                <td class="nowrap">
                    <button class="btn-icon" data-ignore-exam="{{ path('nk_exam_ignore_exam', {unit:exam.unit}) }}">
                        <i class="icon i-bin"></i>
                        Ignorer
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}