{% extends '::base.html.twig' %}

{% block submenu %}
    {% if app.user %}
        <nav class="submenu">
            <ul>
                <li {{ page.active('fos_user_profile_show') }}>
                    <a href="{{ path('fos_user_profile_show') }}">
                        <i class="icon i-user"></i>
                        Profil
                    </a>
                </li>
                <li {{ page.active('fos_user_profile_edit') }}>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <i class="icon i-pencil"></i>
                        Modifier
                    </a>
                </li>
                <li {{ page.active('fos_user_change_password') }}>
                    <a href="{{ path('fos_user_change_password') }}">
                        <i class="icon i-keys"></i>
                        Mot de passe
                    </a>
                </li>
            </ul>
        </nav>

    {% else %}

        <nav class="submenu">
            <ul>
                <li {{ page.active('fos_user_security_login') }}>
                    <a href="{{ path('fos_user_security_login') }}">
                        <i class="icon i-ok"></i>
                        Connexion
                    </a>
                </li>
                <li {{ page.active('fos_user_registration') }}>
                    <a href="{{ path('fos_user_registration_register') }}">
                        <i class="icon i-edit"></i>
                        Inscription
                    </a>
                </li>
                <li {{ page.active('fos_user_resetting') }}>
                    <a href="{{ path('fos_user_resetting_request') }}">
                        <i class="icon i-keys"></i>
                        Mot de passe perdu
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}
