{% spaceless %}
    <div class="file" data-id="{{ file.id }}" data-path="{{ asset(file.webPath) }}">
        <i class="icon i-file" title="{{ file.name }}"></i>
        <div class="name" title="{{ file.name }}" data-rename="{{ path('nk_document_file_rename', {id:file.id}) }}">{{ file.name }}</div>
        <div class="size">{{ file.size }}</div>
    </div>
{% endspaceless %}